@model IEnumerable<MVC5Course.Models.OrderLine>

@*@{
    if (IsAjax) {
        Layout = null;
    }
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Order Lines</h2>

    @*@{
        var Order
    }*@

   
@using (Ajax.BeginForm("Index", "OrderLines", new { productId = ViewBag.productId }, new AjaxOptions { UpdateTargetId = "details" }))
{
    <div>
        依據OrderStatus篩選：
        @*@Html.DropDownList("OrderStatus", null, "請選擇訂單狀態")*@
        @Html.DropDownList("OrderStatus", null, "請選擇訂單狀態", new { onchange = "$(this.form).trigger('submit');" })
        @*@Html.CheckBox("test", true);*@
        @*<input type="submit" value="開始篩選"/>*@
    </div>
    @*<div>
       Id: @Html.Id("OrderStatus")<br />
       Name: @Html.Name("OrderStatus")<br />
       Value: @Html.Value("OrderStatus")
    </div>*@

}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    @Ajax.ActionLink("Delete", "Delete",
                   new
                   {
                       OrderId = item.OrderId,
                       LineNumber = item.LineNumber,
                       OrderStatus = ViewBag.OrderStatusSelected
                   },
                   new AjaxOptions
                   {
                       UpdateTargetId ="details",
                       HttpMethod = "POST"
                   })
                </td>

            </tr>
        }

    </table>

</body>
</html>
