@model MVC5Course.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>

@*<h2>Order Lines</h2>

<table>
    <tr>
        <th>Qty</th>
        <th>LineNumber</th>
        <th>LineTotal</th>
    </tr>
    @foreach (var item in Model.OrderLine)
    {
        <tr>
            <td>@item.Qty</td>
            <td>@item.LineNumber</td>
            <td>@item.LineTotal</td>
        </tr>
    }

</table>*@

@*@Html.Partial("OrderLines", Model.OrderLine)*@

@*@Html.Action("OrderLines", new { Model.ProductId})*@

@Html.Action("Index", "OrderLines", new { productId = Model.ProductId})

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.TextBox("Name", "", new { type = "file"})